

/* Colour scheme  #F8B195   #F67280   #C06C84   #6C5B7B   #355C7D */

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
	background-color: #355C7D;
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font-family: 'Pacifico', cursive;
	color: #F8B195;
	margin: 3%;
}

h2 {
	font-family: 'Pacifico', cursive;
	text-align: center;
	color: #355C7D;
}

form {
	display: inline-block;
	width: 95%;
}

textarea {
	width: 95%;

}

input {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	display: inline-block;
}

.wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 15px;
	grid-auto-rows: minmax(300px, auto);
	margin: 2%;
}

.col-1 {
	grid-column: 1;
	grid-row: 1;
	background-color: #C06C84;
	padding: 3%;
	border-radius: 25px;
	text-align: center;
}

.col-2 {
	grid-columns: 1;
	grid-row: 1;
	background-color: #C06C84;
	padding: 3%;
	border-radius: 25px;
	text-align: center;
}

.message {
	position: relative;
	padding: 15px;
	color: #000;
	border-radius: 25px;
}

.message:after {
	content: "";
	display: block;
	position: absolute;
	bottom: -15px;
	width: 0;
	border-width: 15px 15px 0;
	border-style: solid;
}

.bot-time {
	color: white;
	font-size: 0.7rem;
	text-align: left;
}

.user-time {
	color: white;
	font-size: 0.7rem;
	text-align: right;
}

.footer {
	font-family: 'Pacifico', cursive;
	margin: 3%;
	color: #C06C84;
}

#send-message {
	margin: 8px;
	background-color: #F8B195;
	border-radius: 25px;
	border-style: none;
	color: #355C7D;
	font-family: 'Pacifico', cursive;
}

#bot-message {
	margin: 0.5em 5em 1em 0.5em;
	background: #6C5B7B;
}

#bot-message:after {
	left: 50px;
	border-color: #6C5B7B transparent;
}

#user-message {
	margin: 0.5em 0.5em 1em 5em;
	background: #F8B195;
}

#user-message:after {
	right: 50px;
	border-color: #F8B195 transparent;
}

#chat-history {
	display: inline-block;
	background-color: white;
	width: 95%;
	height: 400px;
	overflow: scroll;
}


